@CHARSET "UTF-8";
div {
	border:1px red solid;
}

#kuangjia {
	margin-left:100px;
	width:1100px;
	height:600px;
	
}

#logo1{
	float:left;
	width:300px;
	height:100px;
}
#logo2{
	float:right;
		width:750px;
	height:100px;
}
#zuo { 
	float:left;
	height:400px;
	width:300px;
	
}
#you{
	float:right;
	width:750px;
		height:400px;
}
#di {
	margin-top:510px;
	width:1100px;
	height:90px;
}